.container {
    background-color: #001B79;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.footer__title {
    margin-bottom: 1rem;
}

.footer__author {
    margin-bottom: 1rem;
}