.container {
    margin: 1rem;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero__title {
    color: #2600ff;
    margin-bottom: 1rem;
    font-size: 2.44rem;
}

.hero__description {
    margin: 0 100px 30px 100px;
}